{{!-- <section>   
<article class="small-title" id="{{id}}">
    <p>{{title}} </p>
{{description}}
    <p class="hide">
    {{#each users as |user|}}
    {{user_name}}
{{/each}}
    </p>
</article>
</section> --}}

<div class="tour-card" >
	<h5 class="">
	<strong>{{title}}</strong>
	</h5>
	<p class="">{{description}}</p>
	<a href="" class="" target="_blank">Visit Tour</a>						
</div>