<main >


<div role="status" class="m-7 space-y-8  md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
        <img class=" bg-amber-200 w-64 h-64 text-gray-200 dark:text-gray-600"  src="{{tour.img_src}}"/>  
        
    
    <article class="w-full">
        <section class=" text-lg w-fit p-3 bg-gray-300 rounded-full mb-4"><strong>{{tour.title}}</strong></section>
    
        <section class=" text-lg w-fit p-3 bg-gray-300 rounded-full mb-4">{{tour.description}}</section>
        <section class=" text-lg w-fit p-3 bg-gray-300 rounded-full mb-4">{{tour.text}}</section>
        <section class=" text-lg w-fit p-3 bg-gray-300 rounded-full mb-4">
            Tour categories:
            {{#each tour.categories as |category|}}{{>badge}} {{/each}}
        </section>
        <section class="  w-fit px-1  bg-gray-300 rounded-full mb-4">
            <div class="flex items-center gap-4">
            <span>Created by: </span>
               <a> <img class="w-11 h-11 rounded-full" src="{{user.img_src}}" alt="user icon"></a>
                <div class="font-medium dark:text-white">
                <div>{{user.user_name}}</div>
                <div class="text-sm text-gray-500 dark:text-gray-400">Joined in {{}}</div>
                </div>
            </div>
        </section>
        <section class=" text-lg w-fit p-3 bg-gray-300 rounded-full mb-4">
            
            <a id="add-user" class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-lime-300 rounded-full">
                 <span class="font-medium text-white" >+</span>
            </a>
        </section>
    </article>
    {{!-- <span class="sr-only">Loading...</span> --}}
</div>
</main>

{{!-- src="/assets/icons/traveler.png" --}}
{{!-- 
<div>
  <div id="tooltip-jese" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Jese Leos
      <div class="tooltip-arrow" data-popper-arrow></div>
  </div>
  <img data-tooltip-target="tooltip-jese" class="w-10 h-10 rounded" src="/docs/images/people/profile-picture-5.jpg" alt="Medium avatar">
</div>
<div>
  <div id="tooltip-roberta" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Roberta Casas
      <div class="tooltip-arrow" data-popper-arrow></div>
  </div>
  <img data-tooltip-target="tooltip-roberta" class="w-10 h-10 rounded" src="/docs/images/people/profile-picture-4.jpg" alt="Medium avatar">
</div>
<div>
  <div id="tooltip-bonnie" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Bonnie Green
      <div class="tooltip-arrow" data-popper-arrow></div>
  </div>
  <img data-tooltip-target="tooltip-bonnie" class="w-10 h-10 rounded" src="/docs/images/people/profile-picture-3.jpg" alt="Medium avatar">
</div>
 --}}