{{>left-sideBar}}
<div id="main" class="flex  colums-2 flex-col">
    <section id="section-1" class="flex  colums-3 flex-row justify-between flex-wrap">
        <div id="img-holder" class="flex justify-around"><a href="/update/profile/ico"><img id="img" class="mt-3"
                    src="{{user.profile.img_src}}"></a></div>
        <div id="personal-data" class="flex colums-2 flex-col justify-between">
            <p>
                <label for="personal name">Hi! My name is:</label>
                {{!-- <input class="personal-input" type="text" id="my-name" value="{{user.profile.profile_name}}" />
                --}}
                <input type="text" id="my-name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600"
                    placeholder="Your Name" value="{{user.profile.profile_name}}">

            </p>
            <p>
                <label for="age">My Age:</label>
                {{!-- <input class="personal-input" type="text" id="age" value="{{user.profile.age}}" /> --}}
                <input type="text" id="age"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600"
                    placeholder="Your Age" value="{{user.profile.age}}">

            </p>
            <p>
                <label for="place">My Favorite Place:</label>
                {{!-- <input class="personal-input flex" type="text" id="fav-plc" value="{{user.profile.fav_place}}" />
                --}}
                <input id="fav-plc"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600"
                    placeholder="Your Favorite Place" value="{{user.profile.fav_place}}">
            </p>

        </div>
        <div id="bio">
            {{!-- <header>Brief BIO</header>
            <textarea id="bio-txt" name="bio" rows="10" cols="80">{{user.profile.bio}}</textarea> --}}

            <label for="text" class="block mb-2 text-sm font-medium text-gray-900 ">Brief Bio:</label>
            <textarea id="bio-txt" rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-green-600 focus:border-green-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600"
                placeholder="Tell us about yourself...">{{user.profile.bio}}</textarea>

        </div>
    </section>
    <section id="section-2" class="flex colums-2 flex-row justify-between flex-wrap">
        <div>
            {{!-- <header>My Tips for travel</header>
            <textarea id="tips-text" name="tips" rows="12" cols="100">{{user.profile.tips}}</textarea> --}}

            <label for="text" class="block mb-2 text-sm font-medium text-gray-900 ">My Tips for travel:</label>
            <textarea id="tips-text" rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-green-600 focus:border-green-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600"
                placeholder="Tips & Tricks for your fellow travelers...">{{user.profile.tips}}</textarea>

        </div>
        <div>
            {{!-- <header>My funny travel story</header>
            <textarea id="story-text" name="story" rows="12" cols="100">{{user.profile.story}}</textarea> --}}

            <label for="text" class="block mb-2 text-sm font-medium text-gray-900 ">Funny Travel Story:</label>
            <textarea id="story-text" rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-green-600 focus:border-green-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-600 dark:focus:border-green-600"
                placeholder="Give us the FUNNIEST story from your travels...">{{user.profile.story}}</textarea>

        </div>
    </section>
    <section class="flex justify-center">
        <button id="updateProf-btn" class="{{user.profile.id}}">Update</button>
    </section>

</div>

<script src="/js/updateProfile.js"></script>